<br/><br/>
<h1>Create Flight</h1>
<div>
    <form [formGroup]="createAirlineForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Provider Name</mat-label>
                <mat-select (selectionChange)="setCode($event)" formControlName="providerName">
                    <mat-option value="INDIGO">INDIGO</mat-option>
                    <mat-option value="SPICEJET">SPICEJET</mat-option>
                    <mat-option value="AIR ASIA">AIR ASIA</mat-option>
                    <mat-option value="GO AIR">GO AIR</mat-option>
                    <mat-option value="JET AIRWAYS">JET AIRWAYS</mat-option>
                    <mat-option value="AIR INDIA">AIR INDIA</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Provider Code</mat-label>
                <input matInput formControlName="providerCode">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Provider Type</mat-label>
                <mat-select formControlName="providerType">
                    <mat-option value="Domestic">Domestic</mat-option>
                    <mat-option value="International">International</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button type="button" (click)="createAirline()">Insert Flight</button>
        </div>
    </form>

</div>